<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ykk.jobbridge.mapper.JobMapper">

    <select id="findAll" resultType="org.ykk.jobbridge.dto.JobDTO">
        SELECT
            id,
            title,
            company_name,
            location,
            employment_type,
            salary,
            deadline,
            created_at
        FROM jobs
        ORDER BY created_at DESC, id DESC
    </select>

    <select id="findById" parameterType="long" resultType="org.ykk.jobbridge.dto.JobDTO">
        SELECT
            id,
            title,
            company_name,
            location,
            employment_type,
            salary,
            deadline,
            created_at
        FROM jobs
        WHERE id = #{id}
    </select>

</mapper>
